<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ccxh.top.blog.github.mapper.MarkdownPageMapper">
    <sql id="items">`name`,theme_id,path,local_path,url,show_url,create_time,update_time</sql>
    <sql id="table_name">t_blog_genm_page</sql>

    <insert id="insertThemeId">
        INSERT INTO
        <include refid="table_name"/>
        (<include refid="items"/>)
        VALUES
            (#{name}, (select id from t_blog_theme WHERE path= #{path} and user_id=#{userId} ), #{path}, #{localPath}, #{url}, #{showUrl},#{createTime},
            #{updateTime})

    </insert>

    <select id="selectMarkdownPageByThemeId" resultType="MarkdownPagePojo">
        select id,<include refid="items"/> FROM <include refid="table_name"/> WHERE theme_id=#{id}
    </select>

    <delete id="deleteMarkdownPageByThemeId">
        DELETE FROM <include refid="table_name"/> WHERE theme_id=#{id}
    </delete>
    <delete id="bathDeleteMarkdownPageByThemeId">
        DELETE FROM <include refid="table_name"/>
        WHERE theme_id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>

    <update id="updateTimeById">
        update <include refid="table_name"/> SET update_time=#{time} WHERE id=#{id}
    </update>
</mapper>
