<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ccxh.top.blog.github.mapper.ThemeMapper">
    <sql id="items">`name`,path,parent,des,create_time,update_time,user_id</sql>
    <sql id="table_name">t_blog_theme</sql>

    <insert id="bathInsert">
        INSERT INTO
        <include refid="table_name"/>
        (<include refid="items"/>)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.path}, #{item.parent}, #{item.des}, #{item.createTime},
            #{item.updateTime},#{item.userId})
        </foreach>
    </insert>

    <select id="selectThemePage" resultType="ThemePojo">
        SELECT
        id,<include refid="items"/>
        FROM
        <include refid="table_name"/>
        LIMIT #{index},#{num}
    </select>

    <delete id="bathDeleteById">
        DELETE FROM
        <include refid="table_name"/>
        WHERE id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>


</mapper>
